.sign-up
  .sign-up__content
    %h2 ユーザー新規登録
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        %h3 ＜ニックネーム＞
        = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
      .field
        %h3 ＜出身地＞
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "---"
      .field
        %h3 ＜メールアドレス＞
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        %h3 ＜パスワード＞
        - if @minimum_password_length
          %em
            -# (#{@minimum_password_length} characters minimum)
        = f.password_field :password, autocomplete: "new-password"
      .field
        %h3 ＜パスワードの再確認＞
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "登録する", class: "register click-down"
    -# = render "devise/shared/links"
