.today-task
  .today-task__content
    %h3 ＜Today's schedule＞
    .back-task.index-column
      .time-t
        Time
      .todo-t
        Todo
      .place-t
        Place
      .memo-t
        Memo
    - @task.each do |task|
      .back-task.each-date
        .time-t
          = task.beforetime.name
          〜
          = task.aftertime.name
        .todo-t
          = task.doing
        .place-t
          = task.place
        .memo-t
          = task.memo
