.task-content
  .task-content__body
    .content
      .left-language 本日入力のタスク
      .left-language
        合計
        %span= @tasks.count
        件だよ!
    .content__box
      .left
        - @tasks.each do |task|
          .left__tasks
            .tasks-top
              .tasks-top__time
                %span Time :
                = task.beforetime.name
                %span 〜
                = task.aftertime.name
              .tasks-top__place
                %span place :
                = task.place
              .tasks-top__delete
                = link_to  "/tasks/#{task.id}", method: :delete, class: "trashicon" do
                  = icon("fa","trash faa-flash animated-hover",class: "trash")
            .tasks-center
              %span Todo :
              = task.doing
            .tasks-top
              .tasks-bottom
                %span Memo :
                = task.memo
              .tasks-day
                = task.day
      .right
        = form_with(model: @task, local: true) do |form|
          - @task.errors.each do |msg|
            .alert.alert-danger
              = msg
          .right__form
            %h1 -- 予定を入力 --
          .right__box
            .day-form
              .must
                <日程>
                .must__language
                  必須
              = form.date_field :day, id: "place"
            .time-form
              <時間>
              .time-form__icon
                = form.collection_select :beforetime_id, Beforetime.all, :id, :name
                〜
                = form.collection_select :aftertime_id, Aftertime.all, :id, :name
            .day-form
              <場所>
              = form.text_field :place, placeholder: "20文字以内で入力", id: "place"
            .day-form
              .must
                <やること>
                .must__language
                  必須
              = form.text_field :doing, placeholder: "20文字以内で入力", id: "place"
            .day-form
              <メモ>
              = form.text_field :memo, placeholder: "20文字以内で入力", id: "place"
            .submit-btn
              = form.submit "タスクを登録", class: "send"
