.today-task
  .today-task__content
    .top-text
      今日あった出来事を日記にしよう
    .bottom
      = form_with(model: @diary, local: true) do |form|
        .bottom__box
          .bottom__box__user
            .user-iamge
              = image_tag(current_user.image.url, size: "150x150",class: "imageicon")
            .user-name
              = current_user.nickname
              さん
          .bottom__box__form
            .title-form
              タイトル :
              = form.text_field :title, placeholder: "15文字以内で入力", id: "place"
            .impression-form
              感想
              %br
              = form.text_area :impression, placeholder: "150文字以内で入力", id: "place"
            .submit-btn
              = form.submit "投稿する", class: "send"
