.header
  .header__body
    .left
      = icon('fas', 'book', class: 'book')
      Todo-Diary
    .right
      .kari
        =link_to "todo", new_task_path
      .logout
        = link_to "ログアウト", destroy_user_session_path, method: :delete,class:'btn2'
      .new-account
        = link_to new_user_registration_path, class:"new-account" do
          = icon('far', 'user-circle', class: 'book')
          新規登録
      .sign-in
        = link_to new_user_session_path, class:"sign-in" do
          = icon('fas', 'sign-in-alt', class: 'book')
          ログイン
        //= icon('fas', 'book faa-float animated', class: 'book')のような形でアニメーションをつけられる
