.today-task
  .today-task__content
    = form_for(current_user) do |f|
      .field
        .field-label
          = f.label :image do
            = image_tag(current_user.image.url, size: "250x250",class: "imageicon")
        .field-image
          = f.file_field :image, autofocus: true
      .field
        .field-label
          = f.label :nickname
        .field-input
          = f.text_field :nickname, autofocus: true
      .field
        .field-label
          = f.label :email
        .field-input
          = f.email_field :email
      .actions
        = f.submit "Update", class: 'btn'