.today-task
  .today-task__content
    .detail
      .word タスク一覧
      .count-all
        合計タスク数は
        %span= @tasks.count  
        件だよ!
    .show-task.show-column
      .day-show
        日付
      .time-show
        時間
      .todo-show
        やること
      .place-show
        場所
      .memo-show
        メモ
    - @tasks.each do |task|
      .show-task.each-date
        .day-show
          = task.day
        .time-show
          = task.beforetime.name
          〜
          = task.aftertime.name
        .todo-show
          = task.doing
        .place-show
          = task.place
        .memo-show
          = task.memo
        .tasks-delete
          = link_to  "/tasks/#{task.id}", method: :delete, class: "trashicon" do
            = icon("fa","trash faa-flash animated-hover",class: "trash")
